<span>
<h1>Thanks to</h1>
<ul>
  <li><a href="https://www.freepik.com/vectors/">https://www.freepik.com/vectors/</a> for Images used in this page</li>
  <li>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>

  <li>https://undraw.co</li>
  <li><a href="https://www.vecteezy.com/free-vector/leaf">Leaf Vectors by Vecteezy</a></li>
  <li>https://www.iconarchive.com/show/minecraft-icons-by-chrisl21/3D-Grass-icon.html</li>
  <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
  <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>

</ul>
</span>
