
#projects-gallery {
  height: 100vh;
  max-width: 100vw;
}

.title {
  padding: 4rem 0 0 3vw;
}


$project-card-width : 30rem;
$project-card-height : 70vh;
.project-card-container{
  margin: 4rem 0 0 6vw;
  display: flex;
  column-gap: 6rem;
  width: 100%;
  max-width: 90vw;
  overflow-x: scroll;
  padding: 1rem 0 1rem 0;
}


.project-card {
  margin: 1rem;
  box-shadow: -1px -1px 6px grey;
  border-width: 1px;
  border-radius: 2vh;
  width: $project-card-width;
  height: $project-card-height;
  animation-duration: .5s;
  animation-name: unscale-gallery-cards;
  animation-fill-mode: forwards;
}

.project-card:hover {
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-name: scale-gallery-cards;
}

@keyframes scale-gallery-cards {
  from {}
  to {transform: scale(1.05);};
}

@keyframes unscale-gallery-cards {
  from {transform: scale(1.05);}
  to {transform: scale(1);}
}

#fisrt-project-card {
  margin-left: 1rem;
}

.project-card-shadow {
  border-width: 1px;
  border-radius: 2vh;
  box-shadow: 5px 5px 6px grey;
  width: $project-card-width;
  height: $project-card-height;
}

.project-card-content {
    padding: 2vh  2vh  2vh  2vh;
}

.project-card-content img {
  height: 20vh;
  width: 20vh;
  display: block;
  margin: 2vh auto 2vh auto;
}

.gallery-btn-container{
  display: flex;
  width: 100%;
}

.gallery-btn {
  flex: 1;
  margin: 1rem 5rem 0 5rem;
  height: 5rem;
  max-width: 100%;
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  background-image: linear-gradient(to bottom right, #B3FFE3, #6C63FF);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

}
