
#projects-gallery {
  height: 100vh;
  max-width: 100vw;
}

.title {
  padding: 4rem 0 0 3vw;
}


$project-card-width : 30rem;
$project-card-height : 70vh;
.project-card-container{
  margin: 5rem 0 0 6vw;
  display: flex;
  column-gap: 12rem;
  width: 100%;
  max-width: 80vw;
  overflow: scroll;
}


.project-card {
  margin: 1rem;
  box-shadow: -1px -1px 6px grey;
  border-width: 1px;
  border-radius: 2vh;
  width: $project-card-width;
  height: $project-card-height;
}

#fisrt-project-card {
  margin-left: 0;
}

.project-card-shadow {
  border-width: 1px;
  border-radius: 2vh;
  box-shadow: 5px 5px 6px grey;
  width: $project-card-width;
  height: $project-card-height;
}

.project-card-content {
    padding: 2vh  2vh  2vh  2vh;
}

.project-card-content img {
  height: 20vh;
  width: 20vh;
  display: block;
  margin: 2vh auto 2vh auto;
}
