
body {
  height: 100vh;
  width: 100vw;
}
.grid-container {
  display: grid;
  grid-template-columns: 37vw 60vw;
  grid-auto-rows: 15vh;
  padding-left: 3vw;
}

.grid-item {
  /*background-color: cyan;*/
}

.tite {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0vh 0vw 0vh 0vw;
  font-size: 2.5rem;
  font-weight: 500;
}

.hero-image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 50vw;
  height: auto;
  padding: 10vh 5vw 1vh 5vw;
}

.self-description {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}

.self-description h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.self-description p {
  font-size: 0.9rem;
}


.down-arrow {
  position: absolute;
  left: 50vw;
  top: 90vh;
}


$socail-media-container-size: 4vw;
.social-media-grid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-template-columns: repeat(5, $socail-media-container-size);
  grid-column-gap: 1vw;
  margin-top: 5vh;
}

.socail-media-container {
  height: $socail-media-container-size;
  width: $socail-media-container-size;
  background-color: #92B4F4;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
}

.social-media-link {
  height: $socail-media-container-size;
  width: $socail-media-container-size;
}
